// ============================================================================
// Flexya Utilities - Height (Viewport)
// ============================================================================

@use "sass:map";

$utilities: map.merge($utilities, (
    height-viewport: (
        property: height,
        class: vh,
        values: (
            0: 0vh,
            10: 10vh,
            20: 20vh,
            25: 25vh,
            30: 30vh,
            40: 40vh,
            50: 50vh,
            60: 60vh,
            70: 70vh,
            75: 75vh,
            80: 80vh,
            90: 90vh,
            100: 100vh,
        ),
    ),
));
