// ============================================================================
// Flexya Utilities - Width (Viewport)
// ============================================================================

@use "sass:map";

$utilities: map.merge($utilities, (
    width-viewport: (
        property: width,
        class: vw,
        values: (
            0: 0vw,
            10: 10vw,
            20: 20vw,
            25: 25vw,
            30: 30vw,
            40: 40vw,
            50: 50vw,
            60: 60vw,
            70: 70vw,
            75: 75vw,
            80: 80vw,
            90: 90vw,
            100: 100vw,
        ),
        important: true,
    ),
));
