@use "sass:map";
@use "sass:math";

// Containers
.container {
    margin-left:  auto;
    margin-right: auto;
    width:        90%;

    @each $size, $options in $breakpoints {
        @if map.get($options, "min-width") > 0 {
            @include breakpoint-up($size) {
                max-width: math.div(map.get($options, "min-width"), 100) * 90;
            }
        }
    }
}

.container-fluid {
    margin-left:  auto;
    margin-right: auto;
    width:        90%;
}

.container-max {
    margin-left:  auto;
    margin-right: auto;
    width:        100%;
}