@use "sass:map";
@use "sass:math";

// Get the previous breakpoint name.
@function breakpoint-previous($name) {
    $breakpoint-names: map.keys($breakpoints);
    $n: index($breakpoint-names, $name);

    @if not $n {
        @error "breakpoint `#{$name}` not found in `#{$breakpoints}`";
    }

    @return if($n < length($breakpoint-names), nth($breakpoint-names, $n - 1), null);
}

// Get the next breakpoint name.
@function breakpoint-next($name) {
    $breakpoint-names: map.keys($breakpoints);
    $n: index($breakpoint-names, $name);

    @if not $n {
        @error "breakpoint `#{$name}` not found in `#{$breakpoints}`";
    }

    @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

// Get the min-width value for a breakpoint.
@function breakpoint-min($name) {
    $min: map.get(map.get($breakpoints, $name), "min-width");

    @return if($min != 0, $min, null);
}

// Get the max-width value for a breakpoint.
@function breakpoint-max($name) {
    $max: map.get(map.get($breakpoints, $name), "min-width");

    @return if($max and $max > 0, $max - .02, null);
}