@use "sass:map";
@use "sass:math";

// Styles in this mixin will only apply for the given breakpoint and above.
@mixin breakpoint-up($name: "mobile") {
    $min: breakpoint-min($name);

    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}

// Styles in this mixin will only apply for the given breakpoint and below.
@mixin breakpoint-down($name: "large-desktop") {
    $max: breakpoint-max($name);

    @if $max {
        @media (max-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}

// Styles in this mixin will only apply for the given breakpoint.
@mixin breakpoint-only($name: "mobile") {
    $min:  breakpoint-min($name);
    $next: breakpoint-next($name);
    $max:  breakpoint-max($next);

    @if $min != null and $max != null {
        @media (min-width: $min) and (max-width: $max) {
            @content;
        }
    } @else if $max == null {
        @include breakpoint-up($name) {
            @content;
        }
    } @else if $min == null {
        @include breakpoint-down($next) {
            @content;
        }
    }
}

// Styles in this mixin will only apply between the given lower and upper breakpoints.
@mixin breakpoint-between($lower, $upper) {
    $min: breakpoint-min($lower);
    $max: breakpoint-max($upper);

    @if $min != null and $max != null {
        @media (min-width: $min) and (max-width: $max) {
            @content;
        }
    } @else if $max == null {
        @include breakpoint-up($lower) {
            @content;
        }
    } @else if $min == null {
        @include breakpoint-down($upper) {
            @content;
        }
    }
}

@mixin generate-column-classes($options) {
    $prefix: map.get($options, "prefix");

    @if $prefix == false {
        $prefix: "";
    } @else {
        $prefix: "-#{$prefix}";
    }

    // Auto column
    .#{$columnClass}#{$prefix} {
        flex: 1 0 0%;
    }

    // Auto-size column
    .#{$columnClass}#{$prefix}-auto {
        flex:  0 0 auto;
        width: auto;
    }

    // Sized columns
    @for $i from 1 through $columnCount {
        $width: math.div(100%, $columnCount) * $i;

        .#{$columnClass}#{$prefix}-#{$i} {
            flex:  0 0 auto;
            width: $width;
        }

        .#{$offsetClass}#{$prefix}-#{$i} {
            margin-left: $width;
        }
    }
}

@mixin generate-grid-column-classes($options) {
    $prefix: map.get($options, "prefix");

    @if $prefix == false {
        $prefix: "";
    } @else {
        $prefix: "-#{$prefix}";
    }

    // Sized columns
    @for $i from 1 through $columnCount {
        $width: math.div(100%, $columnCount) * $i;

        .#{$columnClass}#{$prefix}-#{$i} {
            grid-column: span #{$i};
        }
    }
}

@mixin generate-order-classes($options) {
    $prefix: map.get($options, "prefix");

    @if $prefix == false {
        $prefix: "";
    } @else {
        $prefix: "-#{$prefix}";
    }

    // Orders
    @for $i from 1 through $columnCount {
        $width: math.div(100%, $columnCount) * $i;

        .#{$orderClass}#{$prefix}-#{$i} {
            order: $i;
        }
    }
}