@use "sass:map";

// Breakpoint columns
@each $size, $options in $breakpoints {
    @if map.get($options, min-width) > 0 {
        @include breakpoint-up($size) {
            @each $utility, $utilityOptions in $utilities {
                $className: map.get($utilityOptions, class);
                $propertyName: map.get($utilityOptions, property);
                $prefix: map.get($options, prefix);

                @each $classSuffix, $value in map.get($utilityOptions, values) {
                    .#{$className}-#{$prefix}-#{$classSuffix} {
                        #{$propertyName}: $value;
                    }
                }
            }
        }
    } @else {
        @each $utility, $utilityOptions in $utilities {
            $className: map.get($utilityOptions, class);
            $propertyName: map.get($utilityOptions, property);

            @each $classSuffix, $value in map.get($utilityOptions, values) {
                .#{$className}-#{$classSuffix} {
                    #{$propertyName}: $value;
                }
            }
        }
    }
}
