@if $enableUtilities {
    // Justify Content
    @include generate-utility((".justify-content-left", ".justify-content-start")) {
        justify-content: flex-start;
    }

    @include generate-utility((".justify-content-middle", ".justify-content-center")) {
        justify-content: center;
    }

    @include generate-utility((".justify-content-right", ".justify-content-end")) {
        justify-content: flex-end;
    }

    @include generate-utility(".justify-content-around") {
        justify-content: space-around;
    }

    @include generate-utility(".justify-content-between") {
        justify-content: space-between;
    }

    @include generate-utility(".justify-content-evenly") {
        justify-content: space-evenly;
    }

    // Align Items
    @include generate-utility((".align-items-top", ".align-items-start")) {
        align-items: flex-start;
    }

    @include generate-utility((".align-items-middle", ".align-items-center")) {
        align-items: center;
    }

    @include generate-utility((".align-items-bottom", ".align-items-end")) {
        align-items: flex-end;
    }
}